<ion-view>
    <ion-content class="login-screen">

        <form class="login-form" ng-submit="resetPassword()">
            <div class="list">
                <label class="item item-input">
                  <input type="text" placeholder="Email" ng-model="user.email">
                </label>                  
                <div class="item login-button">
                    <button class="button button-block button-balanced">
                      Reset Password
                    </button>         
                </div>

                <div class="item login-error" ng-if="error[form.currentForm].length > 0">
                    <p ng-repeat="error in error[form.currentForm]">{{error[0]}}</p>
                </div>
            </div>

        </form>


        <div class="secondary-action">
            <button class="button button-block button-balanced" ng-click="form.currentForm = 'login'">
              Login
            </button>              
        </div>
        

    </ion-content>
    

</ion-view>
