<ion-view view-title='<img class="title-image" src="img/logo.png" />'>
    <ion-content class="home-screen">
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="getCategories()">
        </ion-refresher>
        <div class="category-list">
            
            <div ui-sref="app.category({id:category.id})" class="category-item" ng-repeat="category in categories" ng-style="{'background-image':'linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url({{category.image}})'}">
                <p>{{category.name}}</p>
            </div>

        </div>

    </ion-content>
    
</ion-view>