<ion-side-menus enable-menu-with-back-views="true">
    

    
    <ion-side-menu-content>
        <ion-nav-bar  class="bar-balanced" align-title="center">
            <ion-nav-buttons side="left">
                <button   ng-if="user.permission !== 'public'" class="button button-icon button-clear" ng-class="{'ion-android-cart' : platform !== 'ios', 'ion-ios-cart' : platform === 'ios'}" ui-sref="app.order">
                </button>
                <span   ng-if="user.permission !== 'public'" class="order-number" ui-sref="app.order">{{order.order_items.length}}</span>
                <span   ng-if="user.permission !== 'public'" class="order-total" ui-sref="app.order">${{getOrderPrice()}}</span>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear" ng-class="{'ion-android-menu' : platform !== 'ios', 'ion-navicon' : platform === 'ios'}" menu-toggle="right">
                </button>                
            </ion-nav-buttons>            
        </ion-nav-bar>
        <ion-nav-view name="menuContent" ></ion-nav-view>
    </ion-side-menu-content>    

    
    
    <ion-side-menu side="right"  width="230">
        <ion-content>
            <div class="assistant-info" ng-if="user.permission === 'assistant' && currentManagedUser.id">
                <p>Currently creating order on behalf of</p>
                <h3>{{currentManagedUser.name}}</h3>
            </div>
            
            <div class="assistant-info user-info" ng-if="user && user.name && (user.permission !== 'assistant' || (user.permission === 'assistant' && !currentManagedUser.id))">
                <p>Hi there,</p>
                <h3>{{user.name}}</h3>
            </div>            
            <ion-list>
                
                <ion-item class="start-item completed" menu-close ui-sref="app.users" ng-if="user.permission === 'assistant'">
                  Manage Users
                </ion-item>  
                
                <ion-item class="start-item" menu-close ui-sref="app.home" ng-class="{'completed':currentState !== 'app.orders' && currentState !== 'app.calculator'}">
                  Home
                </ion-item>  
                
                
                
                <ion-item class="category-item" ng-repeat="category in categories" ui-sref="app.category({id:category.id})" menu-close ng-class="{'completed':currentState === 'app.order' || (currentState === 'app.category' && category.id <= stateIndex)}">
                  {{category.name}}
                </ion-item>  
                
                <ion-item class="end-item" menu-close ui-sref="app.order" ng-class="{'completed':currentState === 'app.order'}" ng-if="user.permission !== 'public'">
                  My Order
                </ion-item>   
                
                <ion-item class="end-item" menu-close ui-sref="app.orders" ng-class="{'completed':currentState === 'app.orders'}" ng-if="user.permission !== 'public'">
                  Saved Orders
                </ion-item>    
                
                <ion-item class="end-item" menu-close ui-sref="app.calculator" ng-class="{'completed':currentState === 'app.calculator'}" ng-if="user.permission !== 'public'">
                  Calculator
                </ion-item>                 
            </ion-list>

            <img src="img/farmgear.png" class="sidebar-logo" />  
            <div class="sidebar-contact">
                <a href="http://www.farmgear.co.nz">www.farmgear.co.nz</a>
                <a href="tel:063568516">06 356 8516</a>
            </div>
            
            <div class="sidebar-logout">
                <a ng-click="logout()">Logout</a>
            </div>

        </ion-content>
    </ion-side-menu>
    
    
    
</ion-side-menus>
