<ion-view view-title="Order">
    <ion-content>

        <div class='order-content'>
        
            <div class='empty-order' ng-if='order.order_items.length < 1'>
                <i class='icon' ng-class="{'ion-android-cart' : platform !== 'ios', 'ion-ios-cart' : platform === 'ios'}"></i>
                No items in your order.
                <br>Go back and choose something!
            </div>
            
            <div class='order-logo' ng-if='order.order_items.length > 0'>
                <img src="img/logo.png" /> 
            </div>
            
            
            <div class='order-list' ng-if='order.order_items.length > 0'>
                <div class='order-item' ng-repeat='item in order.order_items' ng-class="{'order-option':item.product_option_id}">
                    <span ng-if="item.name !== 'Valves'" class="order-remove" ng-click="removeItem(item, $index)">Remove</span>
                    <span ng-if="item.name === 'Valves'" class="order-remove">Required</span>
                    <span class='order-name'>
                        {{item.name}}
                        <span class='order-quantity' ng-if="item.name === 'Valves' || item.quantity > 1">(Quantity: {{item.quantity}})</span>
                    </span>
                    
                    <span class='order-price'>${{item.price}}</span>
                </div>


                <div class='order-item order-page-total' ng-if="discount > 0">
                    <span class='order-name'>Discount ({{currentManagedUser ? currentManagedUser.discount : user.discount}}%)</span>
                    <span class='order-price'>- ${{discount}}</span>
                </div>  
                
                <div class='order-item order-page-total'>
                    <span class='order-name'>Total</span>
                    <span class='order-price'>${{getOrderTotal()}} (+$GST)</span>
                </div>                
                
            </div>
            
            <div class="row order-calculator"  ng-if='order.order_items.length > 0'>
                <a ui-sref="app.calculator">Do calculations on this order</a>
            </div>
            
            <div class='order-notes list' ng-if='order.order_items.length > 0'>
                <label class="item item-input">
                    <textarea ng-keyup="expandText()" ng-keydown="expandText()" id="notes-input" placeholder="Order Notes" ng-model="order.notes"></textarea>
                </label>                
            </div>

            <div class="order-actions" ng-if='order.order_items.length > 0'>
                <div class="row">
                    <div class="col"   ng-if='user.discount > 0 && !discountApplied'>
                        <button class="button button-light" ng-click="applyDiscount()">
                            Apply discount
                        </button>                         
                    </div>
                    <div class="col"   ng-if='user.discount > 0 && discountApplied'>
                        <button class="button button-light assertive-text" ng-click="clearDiscount()">
                            Clear discount
                        </button>                         
                    </div>                    
                    <div class="col">
                        <button class="button button-assertive" ng-click="clearCart()">
                            Clear Cart
                        </button>                         
                    </div>
                </div>
               
                <button class="button button-balanced" ng-click="completeOrder()">
                    Complete Order
                </button> 
                
                <div class="row extra-actions">
                    <div class="col">
                        <a ng-click="emailOrder()">Email this order</a>
                    </div>
                    <div class="col">
                        <a ng-click="preSaveOrder()">Save this order</a>
                    </div>
                    
                </div>
            </div>
            
            
            
        </div>
        
      
    </ion-content>
</ion-view>
