<ion-view>
    <ion-content class="login-screen">

        <form class="login-form register-form" ng-submit="register()" >
            <div class="list" ng-if="!registered">
                <label class="item item-input">
                  <input type="text" placeholder="Name" ng-model="user.name">
                </label>
                <label class="item item-input">
                  <input type="text" placeholder="Email" ng-model="user.email">
                </label>
                <label class="item item-input">
                  <input type="text" placeholder="Phone" ng-model="user.phone">
                </label>                
                <label class="item item-input">
                  <input type="password" placeholder="Password" ng-model="user.password">
                </label>
                <label class="item item-input">
                  <input type="password" placeholder="Confirm Password" ng-model="user.repeat_password">
                </label>                    
                <div class="item login-button">
                    <button class="button button-block button-balanced">
                      Register
                    </button>         
                </div>

                <div class="item login-error" ng-if="errors.length > 0">
                    <p ng-repeat="error in errors">{{error[0]}}</p>
                </div>
            </div>
            
            <div class="register-success" ng-if="registered">
                Thanks for registering! Your account will now go through the approval process. If all goes well, you will be able to login within 24 hours.
            </div>

        </form>


        <div class="secondary-action">
            <button class="button button-block button-balanced"  ui-sref="login">
                Back To Login
            </button>              
        </div>


    </ion-content>
    

</ion-view>
