<ion-modal-view>
	<ion-header-bar class="bar-balanced" align-title="center">
		<div class="modal-button" ng-click="infoModal.hide()">Close</div>            
		<h1 class="title modal-title  title-center">{{selectedProduct.name}}</h1>
	</ion-header-bar>
	<ion-content >
            <div class="product-gallery">
                <ion-slide-box>
                  <ion-slide ng-repeat="image in selectedProduct.gallery track by $index">
                      <div class="box"><img alt="Gallery not loaded" ng-src="{{image.link}}"/></div>
                  </ion-slide>
                </ion-slide-box>                        
            </div>  
            <div class="product-description">
                Part Number: {{selectedProduct.part_number}}
                <p ng-bind-html="selectedProduct.description"></p>
            </div>
	</ion-content>
</ion-modal-view>





