


/* General
==================================*/

.button.button-default{
 border:1px #ccc solid;   
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,input, button, select, textarea,body, *{
    font-family:"Roboto", sans-serif;
}
h1{ 
        font-weight: 100;
        color:white;
            font-size: 80px;
}

ion-content{
        background-color: #ECECEC;
}


/* Utilities
==================================*/
p {
    color: #555;
}

.scroll {
    height: 100%;
}


img {
    -webkit-user-drag: none;
}


input[type=range] {
  pointer-events: none;
}

input[type=range]::-webkit-slider-thumb {
  pointer-events:auto;
}

.modal-button{
line-height: 30px;
    margin-left: 5px;    
}

.platform-android .modal-button{
    line-height: 42px;
}


/* Menu
==================================*/



.platform-android .bar:not(.bar-footer){
    height:54px !important;
}

.platform-android .bar:not(.bar-footer) .title {
 height:54px !important;
 line-height:50px !important;

}




.platform-android .has-header{
    top:54px !important;
}


.bar.bar-balanced{
    background-color:#00561D;
    border-color:#00561D;
    background-size: 100% 0px;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

.button.button-balanced {
    background-color:#00561D;
}

.bar .title{
    font-family:"Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px !important;
    line-height: 40px;
}
.bar .title-image{
    max-width: 100%;
    max-height: 100%;
    padding: 2px;
}


.order-total{
    font-size: 12px;
    line-height: 32px;
    margin-left: 0px;    
}

.platform-android .order-total{
    line-height:42px;
}

.order-number{
    font-size: 8px;
    background-color: rgb(68, 68, 68);
    line-height: 8px;
    padding: 4px 5px;
    height: 15px;
    margin: 0px;
    border-radius: 10px;
    margin-left: -10px;
    z-index: 1;    
}

ion-side-menu ion-content{
    background-color: #fff
}
ion-side-menu .item-complex .item-content{
    color: rgb(0, 86, 29);
 
}

img.sidebar-logo{
    max-width: 100%;
    margin-top: 20px;
    padding: 20px 15px;    
}

ion-side-menu .start-item .item-content{
    padding-left:35px;
}

ion-side-menu .category-item  .item-content{
    padding-left:50px;
    white-space: normal;
    position:relative;

}


ion-side-menu .end-item .item-content{
    padding-left:35px;
}


ion-side-menu .item-content:before{
    content: " ";
    font-family: "Ionicons";
    width: 15px;
    height: 15px;
    position: absolute;
    border-radius: 7.5px;
    left: 10px;
    top: 37%;
    border: 1px solid #00561d;
    color: white;
    font-size: 8px;
    line-height: 13px;
    text-align: center;    
}

ion-side-menu .category-item .item-content:before{
    left: 25px;
}

ion-side-menu .completed  .item-content:before{
    content: "\f122";
    background-color:  #00561d;
}



@media screen and (min-width:768px){
  .menu-content {
    -webkit-transform: translate3d(0px, 0px, 0px) !important;
    width: calc(100% - 230px) !important;
  } 

  .bar-header button.ion-navicon {
    display: none;
  }
  
.menu-right{
    border-left: 1px solid #bbb;
        z-index: 1;
}  

  
}


  

/* Login
==================================*/

.login-screen{
    background-color:#00561D;
    text-align:center;
}

.login-screen .login-header{
    margin-top: 15%;
}

.login-screen img{
    max-width:300px;
    padding-bottom:20px;
}

.login-screen h1{
 font-size:60px;   
}

.login-form{
    width:70%;
    margin:0 auto;
    min-height: 260px;
    max-height:260px;
}

.login-form.register-form{
    margin-top:20%;
        max-height: none;
        min-height: 365px;
}

.register-success{
    color: white;
    font-size: 18px;
    line-height: 25px;    
}

.login-form .item-input{
    background-color: transparent;
    border: none;
        padding: 10px 10px;
}

.login-form .item-input input{
    border-bottom:1px solid rgba(255,255,255,0.5);
    font-size:18px;
    color:white;
}

.login-form .item-input input:focus { 
    border-bottom:1px solid rgba(255,255,255,1);
}

.login-form input::-webkit-input-placeholder{ /* Chrome/Opera/Safari */
  color: rgba(255,255,255,0.5);
}



.login-form .item{
    background-color: transparent;
    border: none;
    padding: 10px;
}



.login-form .login-button{
    margin-top:10px;
}
.login-form .login-button .button.button-balanced{
    background-color: rgba(255,255,255,0.4);
    font-size: 18px;
    line-height: 20px;
    height: 50px;
    letter-spacing: 1px;    
}

.login-form .login-button .button.button-balanced.activated{
    border:none;
    opacity:0.8;
}

.login-form .login-text{
        padding-top: 0px;

}

.login-form .login-error{
        margin-top: -10px;
    color:white;
}

.login-form .login-error p{
    color:white;
}

.login-form .login-text a{
    color:rgba(255,255,255,0.5);
    font-size:18px;
}

.login-form .login-text a.activated{
    color:white;
}

.login-screen .secondary-action{
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    margin-top: 20%;    
}

.login-screen .secondary-action .button.button-balanced{
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    height: 50px;    
}

.login-screen .secondary-action .button.button-balanced.activated{
    background-color:transparent;
    border-color:white;
    color:white;
}
.login-form .item-input{
    color:rgba(255,255,255,0.5);
}

/* Home
==================================*/

.home-screen .category-list{
}

.home-screen .category-list .category-item, .category-title{
    position: relative;   
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center center;
    min-height: 100px;
    text-align: center;
        border-bottom: 1px solid rgb(216, 216, 216);
   
}

.home-screen .category-list .category-item p, .category-title p {
    font-size: 30px;
    color: white;
    line-height: 30px;
    margin: 0px;
    padding-top: 35px;
    padding-bottom: 35px;    
}




/* Category
==================================*/

.category-description{
        padding: 20px;
}

.product-list{
    
}

.product-item{
margin: 20px 10px;
    background-color: rgb(242, 242, 242);
    border: 1px solid rgba(204, 204, 204, 0.8);
    padding-bottom: 30px;
}

.product-item img{
    max-width:100%;
    margin: auto;
    display: block;    
    
}

.product-title{
    height: 20px;
    padding:0px 15px;
    margin-top:15px;
}

.product-title .product-name{
float: left;
    font-size: 18px;
    font-weight: bold;
}

.product-title .product-price{
float: right;
    font-size: 18px;
    font-weight: bold;
    color: #00561d;
}

.product-short-description{
    padding: 0px 15px;
    margin-top: 10px;
    color: #5f5f5f;
}

.product-options-open{
    background-color: #444;
    color: white;
    font-size: 16px;
    padding: 5px 15px;
    margin-top: 10px;    
}

.product-options-open i.icon{
    float:right;
}
.product-actions{
    text-align: center;
}
.product-actions .button{
    width: 90%;
    border-radius: 2px;
    margin: 0px 10px;  
    margin-top: 10px;
}

.product-gallery{
    background-color: white;
    margin-bottom: 15px;    
}

.product-gallery img{
    max-width: 100%;
    min-width:100%;
}

.product-description{
        padding: 10px 20px;
}

.option-cost{
    float: right;
    color: #00561d;    
}

.option-details{
        font-size: 12px;
}

.option-name{
    max-width: 70%;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;    
}

.checkbox-balanced input:before, .checkbox-balanced .checkbox-icon:before{
    border-color: #00561d; 
}

.checkbox-balanced input:checked:before, .checkbox-balanced input:checked + .checkbox-icon:before{
    background: #00561d;
    border-color: #00561d;    
}


/* Order
==================================*/

.order-content{
}

.empty-order{
    font-size: 20px;
    line-height: 24px;
    text-align: center;  
        color: #ccc;
            margin-top: 40%;
}


.empty-order i{
    display: block;
    font-size: 100px;
    color: #ccc;    
}


.order-item{
    padding: 20px 20px;
        padding-bottom: 15px;
    background-color: white;    
}

.order-item.order-option{
    padding-left: 40px;
}

.order-item{
    border-bottom:1px solid #ccc;
}

.order-remove{
    color: red;
    font-size: 10px; 
        vertical-align: top;
}

.order-name{
    font-weight: bold;
    margin-left: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 60%;
    display: inline-block;   
}

.order-option .order-name{
font-weight: normal;    
}

.order-price{
 color: #00561d;
    float: right;   
}

.order-quantity{
        font-weight: normal;
    font-style: italic;
    margin-left: 10px;
    font-size: 12px;
}

.order-page-total .order-name{
    margin-left:0px;
}

.order-page-total .order-price{
    font-weight:bold;
}

.order-actions{
    text-align: center;
}
.order-actions .button{
    width: 90%;
    border-radius: 2px;
    margin: 0px 10px;  
    margin-top: 20px;
}
