


/* General
==================================*/

.button.button-default{
 border:1px #ccc solid;   
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,input, button, select, textarea,body, *{
    font-family:"Roboto", sans-serif;
}
h1{ 
        font-weight: 100;
        color:white;
            font-size: 80px;
}

ion-content{
        background-color: #ECECEC;
}


/* Utilities
==================================*/
p {
    color: #555;
}

.scroll {
    height: 100%;
}


img {
    -webkit-user-drag: none;
}


input[type=range] {
  pointer-events: none;
}

input[type=range]::-webkit-slider-thumb {
  pointer-events:auto;
}


/* Menu
==================================*/



.platform-android .bar:not(.bar-footer){
    height:54px !important;
}

.platform-android .bar:not(.bar-footer) .title {
 height:54px !important;
 line-height:48px !important;

}


.platform-android .bar:not(.bar-footer) .button{
        min-height: 54px !important;
    max-height:54px !important;
}

.platform-android .modal-button, .platform-android .modal-button2{
        line-height: 42px;
}

.main-bar.bar:not(.bar-footer) .buttons-left .button:before{
   font-size: 28px;
}

.main-bar.bar:not(.bar-footer) .buttons-left .button:active{
    opacity:0.3;
}

.platform-android .main-bar.bar:not(.bar-footer) .buttons-right .button{
    line-height:40px;
}

.platform-android .main-bar.bar:not(.bar-footer) .buttons-left .button{
    line-height:40px;
}


.platform-android .has-header{
    top:54px !important;
}


.bar.bar-balanced{
    background-color:#00561D;
    border-color:#00561D;
    background-size: 100% 0px;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
}

.button.button-balanced {
    background-color:#00561D;
}

.bar .title{
    font-family:"Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px !important;
    line-height: 40px;
}

@media screen and (min-width:768px){
  .menu-content {
    -webkit-transform: translate3d(0px, 0px, 0px) !important;
    width: calc(100% - 230px) !important;
  } 

  .bar-header button.ion-navicon {
    display: none;
  }

  
}
  

/* Login
==================================*/

.login-screen{
    background-color:#00561D;
    text-align:center;
}

.login-screen .login-header{
    margin-top: 15%;
}

.login-screen img{
    max-width:300px;
    padding-bottom:20px;
}

.login-screen h1{
 font-size:60px;   
}

.login-form{
    width:70%;
    margin:0 auto;
    min-height: 262.5px;
    max-height:262.5px;
}

.login-form.register-form{
    margin-top:20%;
        max-height: none;
        min-height: 365px;
}

.register-success{
    color: white;
    font-size: 18px;
    line-height: 25px;    
}

.login-form .item-input{
    background-color: transparent;
    border: none;
        padding: 10px 10px;
}

.login-form .item-input input{
    border-bottom:1px solid rgba(255,255,255,0.5);
    font-size:18px;
    color:white;
}

.login-form .item-input input:focus { 
    border-bottom:1px solid rgba(255,255,255,1);
}

.login-form input::-webkit-input-placeholder{ /* Chrome/Opera/Safari */
  color: rgba(255,255,255,0.5);
}



.login-form .item{
    background-color: transparent;
    border: none;
    padding: 10px;
}



.login-form .login-button{
    margin-top:10px;
}
.login-form .login-button .button.button-balanced{
    background-color: rgba(255,255,255,0.4);
    font-size: 18px;
    line-height: 20px;
    height: 50px;
    letter-spacing: 1px;    
}

.login-form .login-button .button.button-balanced.activated{
    border:none;
    opacity:0.8;
}

.login-form .login-text{
        padding-top: 0px;

}

.login-form .login-error{
        margin-top: -10px;
    color:white;
}

.login-form .login-error p{
    color:white;
}

.login-form .login-text a{
    color:rgba(255,255,255,0.5);
    font-size:18px;
}

.login-form .login-text a.activated{
    color:white;
}

.login-screen .secondary-action{
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    margin-top: 20%;    
}

.login-screen .secondary-action .button.button-balanced{
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    height: 50px;    
}

.login-screen .secondary-action .button.button-balanced.activated{
    background-color:transparent;
    border-color:white;
    color:white;
}
.login-form .item-input{
    color:rgba(255,255,255,0.5);
}

/* Home
==================================*/

.home-screen .category-list{
}

.home-screen .category-list .category-item, .category-title{
    position: relative;   
    background-size: cover;
    background-repeat:no-repeat;
    background-position:center center;
    min-height: 100px;
    text-align: center;
        border-bottom: 1px solid rgb(216, 216, 216);
   
}

.home-screen .category-list .category-item p, .category-title p {
    font-size: 30px;
    color: white;
    line-height: 30px;
    margin: 0px;
    padding-top: 35px;
    padding-bottom: 35px;    
}


/* Category
==================================*/

.category-description{
        padding: 20px;
}

.product-list{
    
}

.product-item{
margin: 20px 10px;
    background-color: rgb(242, 242, 242);
    border: 1px solid rgba(204, 204, 204, 0.8);
    padding-bottom: 30px;
}

.product-item img{
    max-width:100%;
    
}

.product-title{
    height: 20px;
    padding:0px 15px;
    margin-top:10px;
}

.product-title .product-name{
float: left;
    font-size: 18px;
    font-weight: bold;
}

.product-title .product-price{
float: right;
    font-size: 18px;
    font-weight: bold;
    color: #00561d;
}

.product-short-description{
    padding: 0px 15px;
    margin-top: 10px;
    color: #5f5f5f;
}

.product-options-open{
    background-color: #444;
    color: white;
    font-size: 16px;
    padding: 5px 15px;
    margin-top: 10px;    
}

.product-options-open i.icon{
    float:right;
}
.product-actions{
    text-align: center;
}
.product-actions .button{
    width: 90%;
    border-radius: 2px;
    margin: 0px 10px;  
    margin-top: 10px;
}

.product-gallery{
    background-color: white;
    margin-bottom: 15px;    
}

.product-gallery img{
    max-width: 100%;
    min-width:100%;
}



